.trackContain, .contain{
    /* background-color:rgba(68, 112, 68, 0.733); */
    /* background-color: #191919; */
    padding-bottom:2rem;
    position: relative;
    overflow: hidden;
    border-radius:0.5rem;
}

.hideme{
    visibility: hidden;
}
.slide-down{
    animation-name:slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide-down{
    from{
        visibility: visible;
        opacity:0;
    }
    to{
        visibility: visible;
        opacity:1;
    }
}

.fadeIn{
    animation-duration: 4s;
}
.color-night{
   background-color: #191919;
    /* background-image: url('../../images/background.svg'); */
}
.color-evening{
    /* background-image: url(../../images/track_background.svg); */
    background-color:rgba(136, 17, 57,0.4);
}
.color-morning{
    /* background-image: url(../../images/track_background.svg); */
    /* background-image:url('../../images/morning-background.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.track-image{
    max-width:50%;
    max-height: 50%;
}
.margin{
    width:90%;
    padding:1rem;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.track{
    width:25%;
    /* height: 15rem; */
    /* height:10rem; */
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    margin:1rem 2rem;
    padding-top:1rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    /* visibility: hidden; */
}

.come-in{
    animation-name:come-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes come-in{
    from{
        visibility: visible;
        transform: translate(0rem, -5rem);
    }
    to{
        visibility: visible;
        transform: translate(0rem, 0rem);
    }
}
.track-heading{
    display: flex;
    justify-content: center;
    padding-top:2rem;
    font-size:2.5rem;
    font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width:800px){
    .margin{
        width:90%;
        padding:0;
        padding:2.5rem 0;
    }
    .track{
        width:50%;
        height:10rem;
        border-radius:10rem;
        /* background-color: red; */
    }
}

.track-title{
    font-size: 1.1rem;
    font-weight: 600;
    color:black;
}

.heading-morning{
    color:black;
}
.heading-evening, .heading-night{
    color:white !important;
}