
.trackContain{
    background-color:rgba(68, 112, 68, 0.733);
    padding-bottom:2rem;
}
.track-image{
    max-width:50%;
    max-height: 50%;
}
.margin{
    width:90%;
    padding:1rem;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.track{
    width:25%;
    /* height: 15rem; */
    /* height:10rem; */
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    margin:1rem 2rem;
    padding-top:1rem;
    background-color: white;
    border-radius: 1rem;
}

.track-heading{
    display: flex;
    justify-content: center;
    color:white;
    padding-top:2rem;
}


@media screen and (max-width:800px){
    .margin{
        width:90%;
        padding:0;
        padding:2.5rem 0;
    }
    .track{
        width:28%;
        height:7rem;
        /* background-color: red; */
    }
}

.track-title{
    font-size: 1.1rem;
}