.faq{
    padding-bottom: 4rem;
}
.faq, .collapsible{
    width:100%;
    color:rgb(9, 51, 94);
    font-weight: 600;
}
.collapsible{
    margin:0.75rem 0rem;
}
.faq-heading{
    display: flex;
    justify-content: center;
}

.question{
    width:85%;
    text-align: justify;
    padding:0.50rem;
    margin:0 auto;
    border-left:1px solid rgb(9, 51, 94);
}
.answer{
    width:85%;
    text-align: justify;
    padding:0.50rem;
    margin:0 auto;
    display: none;
}
.collapse-toggle{
    display: block;
}

.answer{
    font-weight: 500;
}