.navbar{
    width:100%;
    display: flex;
    position: absolute;
    top:0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index:20;
}
.Link{
    width:100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
a{
    text-decoration: none;
    font-size:1.2rem;
    font-weight:600;
}
.menu-ico{
width:2rem;
height: 2rem;
}
.navbar-ico{
    position: absolute;
    top:2%;
    right:2%;
    z-index:22;
    background-color:transparent;
    border:none;
}
.menu{
    position: absolute;
    z-index:21;
    width:100%;
    height:100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity:0.95;
}
.display{
    display: flex;
    visibility: hidden;
    animation-name: slide;
    animation-duration:1s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    from{
        visibility: visible;
        opacity:0;
    }
    to{
        visibility: visible;
        opacity:1; 
    }
}