body,html{
  width:100%;
  height: 100%;
  /* background-color: rgb(34, 1, 1); */
}
.body-night{
  background-color: rgba(9, 22, 56, 0.853);
}
.body-evening{
  background-color: rgba(34,1,1);
}
.body-morning{
  background-color: #1e1e4dd5;
}
.body-morningM{
  background-repeat:repeat-y; 
  background-size: cover;
  background-attachment: scroll;
}
.postpone{
  top:12%;
  width:100%;
  z-index:100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 10s linear infinite;
}
.postpone-desktop{
  top:10%;
  width:100%;
  z-index:1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 15s linear infinite;
}
@keyframes move{
  0%{
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-100%);
  }
}
body {
  position: relative;
  overflow-x:hidden; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.desktop{
  display: flex;
  justify-content: center;
}
.App{
  background-color: transparent;
  position: relative;
}
.content{
  width:90%;
  position: absolute;
    top:90%;
  background-color: white;
  border-radius:1rem; 
  border:none;
}
.gradients{ 
  position: absolute;
  width:100%;
}/* background-image: url('./images/body-background.png');
  background-repeat: repeat-y;
  background-size:100% auto;
  background-attachment: scroll; */
/* .gradient1{
  background-image:linear-gradient( rgba(34,1,1) 40%,rgba(34,1,1,0.3) 10%, rgba(255, 166, 0, 0.856)); 
  width:100%;
  height:100vh;
}
.gradient2{
  background-color:rgba(255, 166, 0, 0.856);
  width:100%;
  height:100vh;
}

.gradient3{
  background-image:linear-gradient(rgba(255, 166, 0, 0.856));
  width:100%;
  height:100vh;
}

.gradient4{
  background-image:linear-gradient(rgba(255, 166, 0, 0.856) 50%, rgba(34,1,1));
  width:100%;
  height:100vh;
} */