.sponsor{
    background-color:transparent;
    margin: 0.2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:28%;
    height: 5rem;
    /* height: 15rem; */
    /* height:10rem; */
    /* justify-content: space-around; */
    /* align-items:center;
    flex-direction: column; */
    /* margin:1rem 2rem;
    padding-top:1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem; */
}
.sponsorContain{
    
}
.sponsorMargin{
    width:100%;
    padding-top:0.5rem;
}
.sponsor-image{
    max-width:100%;
    max-height:100%;
}
#sponsorHead{
    width:50%;
    height:5rem;
}
#sponsorHeadContain{
    display: flex;
    justify-content: center;
}

.background-white{
    background-color: white;
    opacity:0.9;
    border-radius:1rem;
    width:90%;
    margin:1rem auto;
}

@media screen and (min-width:600px){
    .sponsor{
        width:25%;
        height:5rem;
    }
    .sponsor-image{
        max-width: 100%;
        max-height: 100%;
    }
    #sponsorHead{
        width:40%;
        height:5rem;
    }
}

@media screen and (min-width:992px){
    .sponsor{
        width:25%;
        height:5rem;
    }
    .sponsor-image{
        max-width: 75%;
        max-height: 75%;
    }
    #sponsorHead{
        width:20%;
        height:6rem;
    }
}


.sponsor-color-evening{
    /* background-color:rgba(136, 17, 57,0.4); */
    /* background-color:rgba(224, 147, 63, 0.808); */
    background-color:rgba(107, 49, 49, 0.623);
}
.sponsor-color-night{
    background-color:rgb(214, 193, 214);
}
.sponsor-color-morning{
    background-color:rgba(180, 214, 180, 0.705);
    /* background-color: transparent; */
    /* opacity:0.85; */
}

.sponsor-heading-night, .sponsor-heading-evening{
    color: white;
}
.sponsor-heading-morning{
    color: white;
}

.sponsor-color-eveningM{
    /* background-color:rgba(136, 17, 57,0.4); */
    background-color:rgba(224, 147, 63, 0.808);
}
.sponsor-color-nightM{
    background-color:rgba(107, 93, 73, 0.918);
}
.sponsor-color-morningM{
    /* background-color: rgba(149, 211, 190, 0.658); */
    background-color:lightblue;
}

.sponsor-heading-nightM, .sponsor-heading-eveningM{
    color: white;
}
.sponsor-heading-morningM{
    color: white;
}